    .top-banner {
        @apply .bg-blue .mb-32;
        height: 140px;
    }
    .top-banner-container {
        @apply .flex .justify-between .items-center .pt-22;
        @screen lg {
            @apply .pt-12;
        }
    }
    .nav-menu-container {
        @apply .hidden .pl-12 .-mt-22;
        @screen lg {
            @apply .flex .flex-1;
        }
    }
    .nav-menu {
        @apply .flex .list-reset .w-full;
        margin-top: 14px;
    }
    .large-logo {
        @apply .hidden .border-4 .border-white .shadow-md .rounded-lg;
        @screen lg {
            @apply .block;
        }
    }
    .small-logo {
        @apply .block .border-4 .border-white .shadow-md .rounded-lg;
        @screen lg {
            @apply .hidden;
        }
    }
    .hamburger-menu-container {
        @apply  .flex .flex-col .absolute;
        top: 1em;
        right: 1em;
        @screen lg {
            @apply .hidden;
        }
    }
    .hamburger-menu-button {
        @apply .flex .items-center .px-3 .py-2 .border-2 .rounded .text-green-lighter .border-green-light;
        &:hover {
            @apply .text-white .border-white;
        }
    }
    .dropdown-menu {
        @apply .block .absolute .list-reset .text-left .w-48 .border .border-grey .bg-grey-lightest .shadow-md .z-50;
    }
    .login-dropdown-menu {
        top: 48px;
        left: 10%;
    }
    .mobile-dropdown-menu {
        @apply .flex .flex-col;
        top: 32px;
        right: 60px;
    }
    .menu-item {
        @apply .text-center .h-8 .cursor-pointer;
    }
    .mobile-menu-item {
        @apply .text-left .h-16 .leading-loose .border-b .border-grey-light;
        &:hover {
            @apply .bg-green-light;
            .mobile-menu-link {
                @apply .text-white;
            }
            .mobile-menu-link .menu-link-icon path {
                fill: #F8FAFC;
            }
        }
    }
    .dropdown-menu-item {
        @apply .h-12 .p-2 .cursor-pointer .border-b .border-grey-light;
        line-height: 2em;
        &:hover {
            @apply .bg-green-light;
            .dropdown-link {
                @apply text-white;
            }
            .dropdown-link svg path {
                fill: #F8FAFC;
            }
        }
    }
    .menu-link {
        @apply .w-full .text-white .font-lato .font-semibold .uppercase .align-middle .block .no-underline .p-4 .whitespace-no-wrap .tracking-wide;
        &:hover {
            @apply .text-green-lighter;
            .menu-link-icon path {
                fill: #51d88a;
            }
            .menu-link-icon path.hover-white {
                fill: #F8FAFC;
            }
        }
    }
    .mobile-menu-link {
        @apply .w-full .text-green-light .font-lato .font-normal .uppercase .align-middle .block .no-underline .p-4;
    }
    .dropdown-link {
        @apply .text-green-light font-normal uppercase block;
    }
    .menu-link-icon {
        @apply .align-middle .inline-block -mt-1;
        height: 18px;
    }
    .dropdown-link-icon {
        @apply .align-middle .inline-block;
        height: 18px;
    }
    .router-link-active {
        border-bottom: 6px solid #a2f5bf;
    }
    .active-none {
        border-bottom: none !important;
    }